<div class="container mt-5 mb-5">
    <h1 class="text-center">Nossos Contatos</h1>
    <p class="text-center">
        Rua João Lalis da Silva Pinto
        <br/>
        Telefone: (83) 99523-4499
    </p>

    <form>
        <a routerLink="../menu" class="btn btn-sm btn-warning mb-5"> Voltar </a>
        <div class="row">
            <div class="col-lg-6 mt-3 mb-2">
                <input type="text" class="form-control" placeholder="Digite seu nome"/>
            </div>
            <div class="col-lg-6 mt-3 mb-2">
                <input type="text" class="form-control" placeholder="Digite seu sobrenome"/>
            </div>
            <div class="col-lg-12 mt-3 mb-2">
                <input type="text" class="form-control" placeholder="Digite seu email"/>
            </div>
            <div class="col-lg-6 mt-3 mb-2">
                <input type="text" class="form-control" placeholder="Digite seu telefone"/>
            </div>
            <div class="col-lg-6">
                <button class="btn btn-md btn-success mt-3">Enviar</button>
            </div>
        </div>
    </form>
</div>

              
                
                    
