<div class="container mt-5 mb-5">
    <h1 class="text-center">Sobre Nós</h1>
    <a routerLink="../menu" class="btn btn-sm btn-warning mb-5"> Voltar </a>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        A voluptas ipsum nam, quo dolorum sequi? Voluptatibus 
        quidem repudiandae nemo ex minus esse dignissimos accusamus 
        perferendis, fugit delectus quo facere excepturi? 
        <br/>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        A voluptas ipsum nam, quo dolorum sequi? Voluptatibus 
        quidem repudiandae nemo ex minus esse dignissimos accusamus 
        perferendis, fugit delectus quo facere excepturi? 
        <br/>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        A voluptas ipsum nam, quo dolorum sequi? Voluptatibus 
        quidem repudiandae nemo ex minus esse dignissimos accusamus 
        perferendis, fugit delectus quo facere excepturi? 
        <br/>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        A voluptas ipsum nam, quo dolorum sequi? Voluptatibus 
        quidem repudiandae nemo ex minus esse dignissimos accusamus 
        perferendis, fugit delectus quo facere excepturi? 
        <br/>
    </p>

</div>
